body {
    margin: 0px;
    position: absolute;
}

.sidebar-container {
    height: 1000px;
    width: 230px;
    background-color: #C026D3;
    position: absolute;
}

.dashboard-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 20px;
    position: absolute;
    
}

.dashboard-elements {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    position: absolute;
    margin-top: 60px;
    margin-left: 60px;
}


.dashboard-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: 13px;
    margin-left: 10px;
}

.home,.profile, .messages, .history, .tasks, .communities {
    margin-top: 18px;
    
}

.home-icon {
    position: absolute;
    margin-top: 77px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.profile-icon {
    position: absolute;
    margin-top: 115px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.messages-icon {
    position: absolute;
    margin-top: 154px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.history-icon {
    position: absolute;
    margin-top: 193px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.tasks-icon {
    position: absolute;
    margin-top: 232px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.communities-icon {
    position: absolute;
    margin-top: 271px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.settings-icon {
    position: absolute;
    margin-top: 353px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.support-icon {
    position: absolute;
    margin-top: 392px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.privacy-icon {
    position: absolute;
    margin-top: 430px;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.settings {
    margin-top: 60px;
}

.support, .privacy {
    margin-top: 18px;
}

.header-container {
    width: 1034px;
    height: 128px;
    background-color: white;
    position: absolute;
    margin-left: 230px;
    margin-bottom: 1200px;
    border-bottom: 3px solid rgb(215, 223, 226);;
}

#query {
    background-color: rgb(215, 223, 226);
    width: 470px;
    height: 23px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    margin-left: 80px;
    position: absolute;
}

.search-icon {
    position: absolute;
    margin-top: 20px;
    margin-left: 43px;
    height: 25px;
    width: 25px;
}

.notification-icon {
    position: absolute;
    margin-top: 20px;
    margin-left: 695px;
    height: 25px;
    width: 25px;
}

.admin-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    margin-left: 800px;
    margin-top: 21px;
}

.admin-pfp {
    height: 34px;
    width: 34px;
    background-image: url(/home/youssra/Pictures/96641166_p0_master1200.jpg);
    background-size: 53px;
    position: absolute;
    margin-left: 740px;
    border: none;
    border-radius: 100%;
    margin-top: 15px;
}

button {
    position: absolute;
    margin-top: 77px;
}

.share {
    width: 85px;
    height: 33px;
    background-color: rgb(42, 137, 238);
    margin-left: 810px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 15px;
    border: none;
}

.upload {
    width: 85px;
    height: 33px;
    background-color: rgb(42, 137, 238);
    margin-left: 695px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 15px;
    border: none;
}

.new {
    width: 85px;
    height: 33px;
    background-color: rgb(42, 137, 238);
    margin-left: 580px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 15px;
    border: none;
}

.bigger-pfp {
    height: 55px;
    width: 55px;
    background-image: url(/home/youssra/Pictures/96641166_p0_master1200.jpg);
    background-size: 83px;
    position: absolute;
    margin-left: 43px;
    border: none;
    border-radius: 100%;
    margin-top: 65px;
}

.greeting {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    position: absolute;
    margin-top: 70px;
    margin-left: 113px;
}

.admin-username {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    margin-top: 90px;
    margin-left: 113px;
}

.container {
    width: 1030px;
    height: 867px;
    padding: 0px;
    background-color: rgb(215, 223, 226);
    margin-left: 230px;
    margin-top: 130px;    
}

.projects {
    height: 650px;
    width: 640px;
    margin-left: 20px;
    margin-top: 60px;
    position: absolute;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 20px;
    
}

.announcements {
    height: 300px;
    width: 240px;
    border-radius: 8px;
    margin-left: 705px;
    margin-top: 60px;
    position: absolute;
    display: grid;
    padding: 20px;
    grid-template-rows: 33% 33% 33%;
    background-color: white;
}

.announcement-item {
    border-bottom: 1px solid darkgray;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    line-height: 0.8;
}

#updated-privacy-policy {
    border-bottom: none;
}

.trending {
    width: 252px;
    height: 252px;
    border: 1px solid black;
    margin-left: 705px;
    margin-top: 460px;
    position: absolute;
    display: grid;
    padding: 15px;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: white;
}

.trending-item {
    border: 1px solid black;
    background-color: white;
}

.project-items {
    border: 1px solid black;
    background-color: white;
}

.your-projects {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    margin-left: 20px;
    margin-top: 25px;
}

.announcements-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    margin-left: 705px;
    margin-top: 25px;
}

.trending-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    position: absolute;
    margin-left: 705px;
    margin-top: 420px;
}

.announcement-text {
    font-size: 0.8rem;
    color: grey;
}

.announcement-headline {
    font-size: 0.9rem;
    
}